h1 {
    text-align: center;
    color: white;
    padding-bottom: 100px;
}

#weather-dashboard-title {
    font-family: 'Merriweather Sans', sans-serif;
    color: #37517e
}

#weather-image {
    height: 100px;
    width: 100px;
}

.jumbotron {
        background-image: url('https://sa1s3optim.patientpop.com/assets/images/provider/photos/2138869.jpg');
        background-size: cover;
        height: 50%;
}

.navbar-brand {
    height: 500px;
    width: 100px;
}

.button {
    border: none;
    padding: none;
    background-color: #0BB5FF;  
    color: rgb(253, 253, 253);
    font-size: 18px;
}

.btn {
    background-color: #37517e;
    color: white;
    border-color: #37517e;
}

.btn-outline-success {
    color: #37517e;
    background-color: transparent;
    background-image: none;
    border-color:#37517e;
}

#card-body {
    display: inline-block;
    border: none;
    
}

#uv-index {
    flex: none;
    max-width: 5%;
};

#forecast-cards {
    padding-top: 50px;
    display: inline-block;
}

